* {
  font-family: 'PT Sans', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  background-image: linear-gradient(rgba(4, 9, 30, 0.7), rgba(4, 9, 30, 0.7)), url('background.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}

.container {
  width: 80%;
  max-width: 800px; /* Added max-width to limit the container width */
  margin: 0 auto; /* Added margin: 0 auto to center-align the container */
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}



h1 {
  margin-top: 50px;
  font-size: 40px;
}

form {
  margin-top: 20px;
  text-align: left;
}

.filter-section {
  margin-bottom: 20px;
}

h3 {
  font-size: 20px;
  margin-bottom: 10px;
}

.checkboxes,
.search-bar {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.checkboxes label,
.search-bar input[type="text"] {
  margin-right: 10px;
  font-size: 18px;
  padding: 10px;
}

button[type="submit"] {
  padding: 10px 20px;
  font-size: 18px;
  background-color: rgba(0, 0, 0, 0.39);
  color: #fff;
  border: 1px solid #fff;
  cursor: pointer;
}

button[type="submit"]:hover {
  background-color: #fff;
  color: #000;
}

h2 {
  margin-top: 30px;
  font-size: 24px;
  text-align: center;
}

.articles {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.article {
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 20px;
  margin-bottom: 20px;
  text-align: left;
}

.article h3 {
  font-size: 20px;
  margin-bottom: 10px;
}

.article p {
  font-size: 16px;
}

.article a {
  color: #00BFFF;
  text-decoration: none;
}

.article a:hover {
  text-decoration: underline;
}

.no-articles-found {
  text-align: center;
  font-size: 24px;
  margin-top: 30px;
}

.left-align {
  text-align: left;
}

.header{
  min-height: 100vh;
  width: 100%;

}
nav{
  display: flex;
  padding: 2% 6%;
  justify-content: space-between;
  align-items: center;
}
nav img{
  width: 150px;
}
.nav-links{
  flex: 1;
  text-align: right;
}
.nav-links ul li{
  list-style: none;
  display: inline-block;
  padding: 8px 12px;
  position: relative;
}
.nav-links ul li a{
  color: #fff;
  text-decoration: none;
  font-size: 13px;
}
.nav-links ul li::after{
  content:'';
  width: 0%;
  height: 2px;
  background: wheat;
  display: block;
  margin: auto;
  transition: 0.5s;
}
.nav-links ul li:hover::after{
  width: 100%;
}
.text-box{
  width:90%;
  color: #fff;
  position: absolute;
  top: 50%;
  left:50%;
  transform: translate(-50%,-50%);
  text-align: center;
}